<header id="banner">
    <nav>
        <div>
            <a href="/Home/AbouTMe">
                <img src="/image/ben.jpg" alt="Hasan Akyüz" title="Hasan Akyüz" width="100px" height="80px">
            </a>
        </div>
        <div>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li>
                    <a asp-controller="MyprojecTs" asp-action="myprojecTIndex">Projelerim</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="AbouTMe">Hakkımda</a>
                </li>
                <li>
                    <a asp-controller="ConTacT" asp-action="conTexTIndex">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>
</header>