<header id="banner">
    <nav>
        <div>
            <a href="/Home/AbouTMe">
                <img src="/image/ben.jpg" alt="Hasan Akyüz" title="Hasan Akyüz" width="100px" height="80px">
            </a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/Home/Index">Ana Sayfa</a>
                </li>
                <li>
                    <a href="/MyprojecT/Index">Projelrim</a>
                </li>
                <li>
                    <a href="/Home/AbouTMe">Hakkımda</a>
                </li>
                <li>
                    <a href="/ConTacT/Index">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>
</header>