<link rel="stylesheet" href="~/css/_HeaderCSS.css">
<header>
    <nav id="navbarCSS">
        <div>
            <a asp-controller="Home" asp-action="Index">
                <img id="headerimage" src="/image//ben.jpg" alt="Hasan Akyüz" title="Hasan Akyüz">
            </a>
            <table id="tableCSS">
                <tr>
                    <td id="mainpageCSS"> 
                        <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </td>
                    <td id="myprojectpage">
                        <a asp-controller="MyprojecTs" asp-action="myprojecTIndex">Projelerim</a>
                    </td>
                    <td id ="aboutmepage">
                        <a asp-controller="Home" asp-action="AbouTMe">Hakkımda</a>
                    </td>
                    <td id ="contactpage">
                        <a asp-controller="ConTacT" asp-action="conTacTIndex">İletişim</a>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
</header>