@model List<MyprojecTModels>
@{
    ViewData["Title"] = "Hasan Akyüz";
}
<article>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>proje</th>
                <th>Bu Proje Nedir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.projecTID</td>
                    <td>
                    <td><img src="/image//@m.projecTImageURl" /></td>
                    <td>@m.TiTle</td>
                    <td>@m.shorTdecripTion</td>
                    <td>
                        <form asp-controller="MyprojecTs" asp-action="ProjecTdeTail" method="get">
                            <input type="hidden" name="myprojecTID" value="@m.projecTID" />
                            <button type="submit">Daha Fazla</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>

<aside>
    <div>
        <h1>Sosyala Medya Hesaplarım</h1>
        <a href="https://github.com/hasanakyuz350">
            <img src="/image//siyah-beyaz-giThubs.png" alt="GiThubs" title="GiThubs">
        </a>
        <a href="https://www.linkedin.com/in/hasan-akyuz/">
            <img src="/image//LinkedIn.png"
                 alt="LinkedIn" title="LinkedIn">
        </a>
        <a asp-controller="ConTacT" asp-action="conTacTIndex">Bana mail gönder</a>
    </div>
</aside>